{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <!-- Approach -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Input Kalimat Tes Model</h6>
        </div>
        <div class="card-body">
            <p>Silahkan ketik kalimat untuk mencoba model yang dibuat berjalan sesuai dengan
                keinginan atau tidak. Untuk output [0] = positif dan [1] = negatif.</p>
            <form enctype="multipart/form-data" action="/tesmodel" method="POST">
                <textarea class="form-control" rows="3" name="text"></textarea>

                <div class="mt-3">
                    <button class="btn btn-primary" value="tesmodel">Tes Model</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Approach -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hasil Tes Model</h6>
        </div>
        <div class="card-body">
            <p>Kalimat sebelum proses preprocessing :
                {{original_text}}</p>
            <p>Kalimat setelah proses preprocessing :
                {{hasilprepro}}</p>
            <p>Hasil analisis sentimen pada kalimat :
                {{hasilsvm}}</p>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script
src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script
src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

</body>

</html>